@import "config";
@import "utilities";

body {
  background-color: $primary-color;
  color: $secondary-color;
}

a {
  color: yellow;
}

.poster {
  color:$secondary-color;
}

.form-text {
  color: $secondary-color;
}

h1 {
  font-family:$font-stack;
  font-size: 64px;

  h4 {
    font-family:$font-stack;
    font-size: 18px;
  }
}

#movies img {
  width: 65%;
}

@media (min-width: 1000px) {
  #movies .col-md-3 .poster {
    height: 390px;
  }
}